In [3]:
import numpy as np
arr=np.array([12,4,56,7,29,10])
sortedArray=np.sort(arr)
print(sortedArray)

[ 4  7 10 12 29 56]

In [13]:
import numpy as np
arr=np.array([12,4,56,7,29,10])
sortedArray=np.sort(arr)
print(sortedArray)

[ 4  7 10 12 29 56]

In [ ]:
import numpy as np
arr=np.array(][12,4,56][7,29,10][65,83,23]])
rowsorted=np.sort(arr)
print(sortedArray)

In [15]:
import pandas as pd
l=[10,20,30]
S=pd.Series(l)
print(S)

0    10
1    20
2    30
dtype: int64

In [21]:
import pandas as pd
d={"StdID":[10,20,30],"Name":['Ram','Siya','Sam'],"Roll.no":[101,108,116]}
df=pd.DataFrame(d)
print(df)

   StdID  Name  Roll.no
0     10   Ram      101
1     20  Siya      108
2     30   Sam      116

In [13]:
import pandas as pd
d={"Name":['Alice','Bob','Charlie','David'],"Age":[24,27,22,32],"Department":['HR','Finance','IT','Marketing'],"Salary":[50000,60000,55000,65000]}
df=pd.DataFrame(d)
print(df)

print(df['Age'])
print(df['Name'])

print(df.loc[0])
print(df.loc[0:2])

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27    Finance   60000
2  Charlie   22         IT   55000
3    David   32  Marketing   65000
0    24
1    27
2    22
3    32
Name: Age, dtype: int64
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
Name          Alice
Age              24
Department       HR
Salary        50000
Name: 0, dtype: object
      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27    Finance   60000
2  Charlie   22         IT   55000